{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main/panel.css' %}">


    

    
{% if user.is_authenticated %}


<div class="container">

    <div class="row d-flex justify-content-center  mt-5 mb-2">
        <div class="col-8">

            <div class="row d-flex justify-content-between">
                
                <div class="col-12 col-lg-2 col-md-6 text-start mt-1">
                    <h5 class="text-navbar-elements">Создание задачи</h5>
                </div>

                <div class="col-12 col-lg-3 col-md-6">
                    <input class="form-control form-control-sm text-dark text-button-form  text-center datepick" type="text" id="datePicker" placeholder="Дата завершения">
                </div>

            </div>

        </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
        <div class="col-8">
            <form name="task_form" onsubmit="addTask(); return false;">
                <div class="input-group">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0 disabled" type="checkbox" disabled>
                    </div>

                    <input type="text" name="title" class="form-control text-dark text-button-form" placeholder="Добавить задачу..">
                </div>
                
            </form>
        </div>
    </div>

</div>



<section>
    <div class="container">
        <div id="show_tasks">
            <div class="row d-flex  justify-content-between  mt-2 mb-2">

                <div class="col-6 col-lg-2">
                    <h5 class="text" id="filter_choise">Все</h5>
                </div>
    
                <div class="col-3 col-lg-2 mx-0" id="button-dropdown">
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle text text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Фильтры
                        </button>
                        <ul class="dropdown-menu dropdown-menu-light  overflow-auto" id="filter-list">
    
                            <li><a class="dropdown-item text" href="#" onclick="filterAjax('all', 'Все')">Все</a></li>
                            <li><a class="dropdown-item text" href="#" onclick="filterAjax('favorite', 'Избранные')">Избранные</a></li>
                            <li><hr class="dropdown-divider"></li>
    
                            <li><a class="dropdown-item  text" href="#" onclick="filterAjax('easy', 'Легкие')">Легкие</a></li>
                            <li><a class="dropdown-item  text" href="#" onclick="filterAjax('normal', 'Средние')">Средние</a></li>
                            <li><a class="dropdown-item  text" href="#" onclick="filterAjax('hard', 'Сложные')">Сложные</a></li>
                            <li><hr class="dropdown-divider"></li>
                            
                        </ul>
                        </div>
                </div>
            </div>
            
    
            <div class="row d-flex justify-content-start mt-2 tasks_list" id="tasks-list">
                
                
            </div>
        </div>

        <div class="row d-flex justify-content-center animate__animated animate__fadeIn" id="hide_tasks">
            <div class="col-12">
                <h5 class="text-dop text-center">Время добавить задачу</h5>
            </div>
        </div>

    </div>


    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <img src="{% static 'image/base/logo.svg' %}" class="rounded me-2" width="15px">
            <strong class="me-auto">ZNOTES</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text" id="toast_content">
            
            </div>
        </div>
    </div>



</section>

{% else %}
    
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-lg-6">
            <h2>asdsasad</h2>
        </div>
        <div class="col-12 col-lg-6">
            <video src="{% static 'video/VideoGuide.webm' %}" autobuffer autoplay="true" loop width="100%" height="100%"></video>
        </div>
    </div>
</div>

{% endif %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/instruments/litepicker.js' %}"></script>
<script src="{% static 'js/instruments/mobilefriendly.js' %}"></script>
<script src="{% static 'js/main/main.js' %}"></script>
<script src="{% static 'js/main/templates.js' %}"></script>
<script src="{% static 'js/main/filter.js' %}"></script>
<script src="{% static 'js/main/datepicker.js' %}"></script>
<script src="{% static 'js/main/panel.js' %}"></script>
{% endblock %}